{% extends 'base.html.twig' %}

{% block title %}Upload file{% endblock %}

{% block body %}

<style>
.form{
    text-align:center;
    font-family: verdana;
}

</style>

<div class="form">
<h1>Office Document Viewer</h1>


{{ form(form) }}
    
</div>
{% endblock %}
